<a href="https://colab.research.google.com/github/montanameeker/GRAPHic/blob/main/4_FileManagementIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice

In [ ]:
# List

In [ ]:
import os
import json
import pandas as pd # importing pandas as pd just gives pandas the alias pd so it is easier to call bc you don't have to call pandas just pd
import numpy as np
import random



dat = pd.read_excel(path_data_week4 + filename_t2)

# Import Modules

In [ ]:
import os
import json
import pandas as pd
import numpy as np

# Mount Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Paths & Filenames

In [ ]:
path_data ='/content/drive/MyDrive/Data Science/Montana Meeker Data Science Course Files/Data/Instructor Data/'

In [ ]:
os.listdir(path_data)

['Task 3 Bank.json',
 'In Class 1.txt',
 'In Class 1 new.txt',
 'Task 1 Table.txt',
 'Task 2 Inflation.xlsx',
 'Task 2 Separate.xlsx']

In [ ]:
# filenames for imported files
filename_inclass1 = "In Class 1.txt"
filename_t1 = "Task 1 Table.txt"
filename_t2 = "Task 2 Separate.xlsx"
filename_t2I = "Task 2 Inflation.xlsx"
filename_t3 = "Task 3 Bank.json"

# In-Class Exercises

## Text
* Some text file types
  *  .txt - open()
  * .docx
* Text IO in Python
  * https://chatgpt.com/share/67ce5ce0-26f0-8011-b96a-5341b87cab9c

In [ ]:
path_data_week4 = path_data + "Week 4 Instructor Data/"

In [ ]:
# Reading from a .txt file
with open(path_data_week4 + filename_inclass1, "r", encoding="utf-8") as file:
    content = file.read()
    print(content)

Hello world!

This file has 3 lines.

In [ ]:
type(file)
type(content)

str

In [ ]:
# Reading from a .txt file
with open(path_data_week4 + filename_inclass1, "r", encoding="utf-8") as file:
    content = file.readlines()
    print(content)

['Hello world!\n', '\n', 'This file has 3 lines.\n']

In [ ]:
content

['Hello world!\n', '\n', 'This file has 3 lines.\n']

In [ ]:
# list comprehension on content which removes whitespace and empty strings

# step 1. remove white space
content2 = [item.strip() for item in content]
print(content2)

# step 2. remove empty strings
content2 = [item for item in content2 if len(item)>0]
print(content2)

['Hello world!', '', 'This file has 3 lines.']
['Hello world!', 'This file has 3 lines.']

In [ ]:
content2

['Hello world!', 'This file has 3 lines.']

In [ ]:
new_sentence = "Have a great Monday!"

content2.append(new_sentence)

In [ ]:
content2

['Hello world!', 'This file has 3 lines.', 'Have a great Monday!']

In [ ]:
# Writing to a .txt file

filename_inclass1_new = "In Class 1 new.txt"

with open(path_data_week4 + filename_inclass1_new, "w", encoding="utf-8") as file:
    file.writelines(content2)

In [ ]:
# Writing to a .txt file

filename_inclass1_new = "In Class 1 new.txt"

with open(path_data_week4 + filename_inclass1_new, "w", encoding="utf-8") as file:
  for line in content2:

    file.write(line)
    file.write("\n")

In [ ]:
# Writing to a .txt file

filename_inclass1_new = "In Class 1 new.txt"

linenum = 1

with open(path_data_week4 + filename_inclass1_new, "w", encoding="utf-8") as file:
  for line in content2:

    file.write(str(linenum))
    file.write("\t")
    file.write(line)
    file.write("\n")

    linenum = linenum + 1

## Spreadsheets
* Some text file types
  *  .xlsx
    * pd.read_excel()
    * pd.to_excel()
  * .csv
* Spreadsheet IO in Python
  * https://chatgpt.com/share/67ce5ce0-26f0-8011-b96a-5341b87cab9c

In [ ]:
inflation = pd.read_excel(path_data_week4 + filename_t2,sheet_name="inflation")
inflation

     年份  通脹率（%）
0  2015    0.13
1  2016    1.69
2  2017    1.22
3  2018   -0.06
4  2019    1.15
5  2020    0.04
6  2021    2.63
7  2022    2.71
8  2023    2.70
9  2024    2.29

In [ ]:
gdp = pd.read_excel(path_data_week4 + filename_t2,sheet_name="gdp",header=2,skiprows=[3,4])
gdp

   Year  GDP (USD Billion)
0  2023             756.59
1  2022             760.91
2  2021             773.04
3  2020             673.18
4  2019             611.40
5  2018             609.20
6  2017             590.73
7  2016             543.08
8  2015             534.52
9  2014             535.33

In [ ]:
inflation.columns

Index(['年份', '通脹率（%）'], dtype='object')

In [ ]:
inflation.columns = ["Year","InflationRate"]

In [ ]:
inflation

   Year  InflationRate
0  2015           0.13
1  2016           1.69
2  2017           1.22
3  2018          -0.06
4  2019           1.15
5  2020           0.04
6  2021           2.63
7  2022           2.71
8  2023           2.70
9  2024           2.29

In [ ]:
inflation["InflationIsPositive"] = inflation["InflationRate"] > 0
inflation

   Year  InflationRate  InflationIsPositive
0  2015           0.13                 True
1  2016           1.69                 True
2  2017           1.22                 True
3  2018          -0.06                False
4  2019           1.15                 True
5  2020           0.04                 True
6  2021           2.63                 True
7  2022           2.71                 True
8  2023           2.70                 True
9  2024           2.29                 True

In [ ]:
type(inflation)

pandas.core.frame.DataFrame

In [ ]:
filename_t2_inflation = "Task 2 Inflation.xlsx"

inflation.to_excel(path_data_week4 + filename_t2_inflation,index=False)

In [ ]:
os.listdir()

['.config', 'drive', 'sample_data']

## Tree-Like Data
* Some tree-like data file types
  *  .json
  * .xml
  * .html
* Tree-like data IO in Python
  * https://chatgpt.com/share/67ce5ce0-26f0-8011-b96a-5341b87cab9c

In [ ]:
# Reading from a .json file
with open(path_data_week4 + filename_t3, "r", encoding="utf-8") as file:
    data = json.load(file)
    print(data)

{'bank': {'name': 'Global Bank', 'branch': {'name': 'Downtown Branch', 'address': {'street': '123 Main St', 'city': 'Metropolis', 'zip': '54321'}}, 'accounts': [{'account_number': '123456789', 'type': 'Checking', 'balance': 1500.75, 'owner': {'name': 'John Doe', 'ssn': '123-45-6789'}}, {'account_number': '987654321', 'type': 'Savings', 'balance': 5000.5, 'owner': {'name': 'Jane Smith', 'ssn': '987-65-4321'}}]}}

In [ ]:
type(data)

dict

In [ ]:
data

{'bank': {'name': 'Global Bank',
  'branch': {'name': 'Downtown Branch',
   'address': {'street': '123 Main St', 'city': 'Metropolis', 'zip': '54321'}},
  'accounts': [{'account_number': '123456789',
    'type': 'Checking',
    'balance': 1500.75,
    'owner': {'name': 'John Doe', 'ssn': '123-45-6789'}},
   {'account_number': '987654321',
    'type': 'Savings',
    'balance': 5000.5,
    'owner': {'name': 'Jane Smith', 'ssn': '987-65-4321'}}]}}

In [ ]:
data.keys()

dict_keys(['bank'])

In [ ]:
bank = data["bank"]
bank.keys()

dict_keys(['name', 'branch', 'accounts'])

In [ ]:
bank["name"]

'Global Bank'

In [ ]:
bank["branch"]["name"]

'Downtown Branch'

In [ ]:
bank["branch"]["address"]["zip"]

'54321'

In [ ]:
bank["accounts"]

[{'account_number': '123456789',
  'type': 'Checking',
  'balance': 1500.75,
  'owner': {'name': 'John Doe', 'ssn': '123-45-6789'}},
 {'account_number': '987654321',
  'type': 'Savings',
  'balance': 5000.5,
  'owner': {'name': 'Jane Smith', 'ssn': '987-65-4321'}}]

In [ ]:
for acct in bank["accounts"]:

  if acct["owner"]["name"] == "Jane Smith":

      print(acct["balance"])

      acct["balance"] = 10000

      print(acct["balance"])

5000.5
10000

In [ ]:
bank["branch"]["address"]

{'street': '123 Main St', 'city': 'Metropolis', 'zip': '54321'}

In [ ]:
bank["branch"]["address"]["country"] = "Taiwan"

In [ ]:
bank

{'name': 'Global Bank',
 'branch': {'name': 'Downtown Branch',
  'address': {'street': '123 Main St',
   'city': 'Metropolis',
   'zip': '54321',
   'country': 'Taiwan'}},
 'accounts': [{'account_number': '123456789',
   'type': 'Checking',
   'balance': 1500.75,
   'owner': {'name': 'John Doe', 'ssn': '123-45-6789'}},
  {'account_number': '987654321',
   'type': 'Savings',
   'balance': 10000,
   'owner': {'name': 'Jane Smith', 'ssn': '987-65-4321'}}]}

# Task 1
* Open Task 1 Table.txt
* Import and manipulate the text into a DataFrame
* Export the DataFrame to Data/Week 4 Data/ as Task 1 Spreadsheet.xlsx file

## Step 1

* Open "Task 1.txt" and read text using readlines()

In [ ]:
# Reading from a .txt file
with open(path_data_week4 + filename_t1, "r", encoding="utf-8") as file:
    content = file.read()
    print(content)

ID | Name    | Age | City
---|--------|----|------------
1  | Alice   | 25 | New York
2  | Bob     | 30 | Los Angeles
3  | Charlie | 22 | Chicago
4  | David   | 28 | Houston
5  | Emma    | 27 | Miami

In [ ]:
# Reading from a .txt file with readlines
with open(path_data_week4 + filename_t1, "r", encoding="utf-8") as file:
    content = file.readlines()
    print(content)

['ID | Name    | Age | City\n', '---|--------|----|------------\n', '1  | Alice   | 25 | New York\n', '2  | Bob     | 30 | Los Angeles\n', '3  | Charlie | 22 | Chicago\n', '4  | David   | 28 | Houston\n', '5  | Emma    | 27 | Miami\n']

## Step 2

* Convert the first row into a list of columns

In [ ]:
with open(path_data_week4 + filename_t1, "r", encoding="utf-8") as file:
    content = file.readlines()
    print("Original content:")
    print(content)

# Convert the first row into a list of columns
header_row = content[0]  # Extract the first row (header)
columns = [column.strip() for column in header_row.split('|')]  # Split and clean
print("\nColumns:")
print(columns)

Original content:
['ID | Name    | Age | City\n', '---|--------|----|------------\n', '1  | Alice   | 25 | New York\n', '2  | Bob     | 30 | Los Angeles\n', '3  | Charlie | 22 | Chicago\n', '4  | David   | 28 | Houston\n', '5  | Emma    | 27 | Miami\n']

Columns:
['ID', 'Name', 'Age', 'City']

## Step 3

* Create a new list which only contains the rows of data.
* Convert each of these strings to a list, the same way you did the columns

In [ ]:
# Create a new list containing only the rows of data (excluding header and separator)
data_rows = [line.strip() for line in content[2:]]  # Skip the first two lines
print("\nData rows:")
print(data_rows)

Data rows:
['1  | Alice   | 25 | New York', '2  | Bob     | 30 | Los Angeles', '3  | Charlie | 22 | Chicago', '4  | David   | 28 | Houston', '5  | Emma    | 27 | Miami']

In [ ]:
# Convert each data row into a list (split by '|' and clean)
cleaned_data = [[item.strip() for item in row.split('|')] for row in data_rows]
print("\nCleaned data:")
print(cleaned_data)

Cleaned data:
[['1', 'Alice', '25', 'New York'], ['2', 'Bob', '30', 'Los Angeles'], ['3', 'Charlie', '22', 'Chicago'], ['4', 'David', '28', 'Houston'], ['5', 'Emma', '27', 'Miami']]

## Step 4

* Using a for loop, convert each row of data into a list and append to a dataframe

* two pandas methods
  * loc()
  * concat()
* chatgpt
  * https://chatgpt.com/share/67ce66f8-e208-8011-bb8a-7723aa1d7603

In [ ]:
# Create an empty DataFrame with the specified columns
df = pd.DataFrame(columns=columns)

# Append each row to the DataFrame using loc[]
for row in cleaned_data:
    df.loc[len(df)] = row  # Add the row at the end of the DataFrame

print("DataFrame using loc[]:")
print(df)

DataFrame using loc[]:
  ID     Name Age         City
0  1    Alice  25     New York
1  2      Bob  30  Los Angeles
2  3  Charlie  22      Chicago
3  4    David  28      Houston
4  5     Emma  27        Miami

In [ ]:
# Create an empty DataFrame with the specified columns
df = pd.DataFrame(columns=columns)

# Append each row to the DataFrame using pd.concat()
for row in cleaned_data:
    row_df = pd.DataFrame([row], columns=columns)  # Create a DataFrame for the current row
    df = pd.concat([df, row_df], ignore_index=True)  # Concatenate with the main DataFrame

print("DataFrame using pd.concat():")
print(df)

DataFrame using pd.concat():
  ID     Name Age         City
0  1    Alice  25     New York
1  2      Bob  30  Los Angeles
2  3  Charlie  22      Chicago
3  4    David  28      Houston
4  5     Emma  27        Miami

## Step 5

* Export the dataframe to your Week 4 data folder.
* Name the .xlsx file named "Task 1.xlsx"

In [ ]:
path_data_week4 = "/content/drive/MyDrive/Data Science/Montana Meeker Data Science Course Files/Data/Week 4 Data/"  # Replace with your actual folder path
output_file = path_data_week4 + "Task 1.xlsx"

# Export the DataFrame to an Excel file
df.to_excel(output_file, index=False)

# Task 2

* Open Task 2 Separate.xlsx. Import the two sheets of data.
* Combine these into a single DataFrame on the years they overlap, 2014 to 2023
* Export to Data/Week 4 Data/ as "Task 2 Combined.xlsx"

In [ ]:
path_instr_data ='/content/drive/MyDrive/Data Science/Montana Meeker Data Science Course Files/Data/Instructor Data/Week 4 Instructor Data/'
path_data_week4 = "/content/drive/MyDrive/Data Science/Montana Meeker Data Science Course Files/Data/Week 4 Data/"

# filenames for imported files
filename_inclass1 = "In Class 1.txt"
filename_t1 = "Task 1 Table.txt"
filename_t2 = "Task 2 Separate.xlsx"
filename_t2I = "Task 2 Inflation.xlsx"
filename_t3 = "Task 3 Bank.json"

input_file = os.path.join(path_instr_data, filename_t2) #This line was changed to prepend the path to the filename
output_file = path_data_week4 + "Task 2 Combined.xlsx"

# Step 1: Open the Excel file and import the two sheets
sheet1 = pd.read_excel(input_file, sheet_name=0)  # Import the first sheet
sheet2 = pd.read_excel(input_file, sheet_name=1)  # Import the second sheet

# Rename columns to have a common 'Year' column for merging
sheet1.rename(columns={'年份': 'Year'}, inplace=True)  # Assuming '年份' is the Year column in sheet1
sheet2.rename(columns={'Ministry of Finance': 'Year'}, inplace=True)  # Assuming 'Ministry of Finance' is the Year column in sheet2

In [ ]:
# Step 2: Combine the two DataFrames on the overlapping years (2014 to 2023)
# Assuming both sheets have a "Year" column
combined_df = pd.merge(sheet1, sheet2, on="Year", how="inner")

# Filter the combined DataFrame to only include years 2014 to 2023
combined_df = combined_df[(combined_df["Year"] >= 2014) & (combined_df["Year"] <= 2023)]

# Step 3: Export the combined DataFrame to a new Excel file
combined_df.to_excel(output_file, index=False)

# Task 3

* Open "Task 3 Bank.json". Import the json data as a dictionary
* Convert account data into a DataFrame with the following columns:
  * account_number
  * type
  * balance
  * owner_name
  * owner_ssn
* Export the DataFrame to Data/Week 4 Data/ as "Task 3 Accounts.xlsx"

In [ ]:
output_file = path_data_week4 + "Task 3 Accounts.xlsx"
path_instr_data ='/content/drive/MyDrive/Data Science/Montana Meeker Data Science Course Files/Data/Instructor Data/Week 4 Instructor Data/'

# filenames for imported files
filename_inclass1 = "In Class 1.txt"
filename_t1 = "Task 1 Table.txt"
filename_t2 = "Task 2 Separate.xlsx"
filename_t2I = "Task 2 Inflation.xlsx"
filename_t3 = "Task 3 Bank.json"

# Step 1: Open the JSON file and load the data as a dictionary
with open(path_instr_data + filename_t3, "r") as file:
    data = json.load(file)

# Step 2: Extract the account data from the dictionary
accounts = data.get("accounts", [])

# Step 3: Convert the account data into a DataFrame
df = pd.DataFrame(accounts, columns=["account_number", "type", "balance", "owner_name", "owner_ssn"])

# Step 4: Export the DataFrame to an Excel file
df.to_excel(output_file, index=False)

{'bank': {'name': 'Global Bank', 'branch': {'name': 'Downtown Branch', 'address': {'street': '123 Main St', 'city': 'Metropolis', 'zip': '54321'}}, 'accounts': [{'account_number': '123456789', 'type': 'Checking', 'balance': 1500.75, 'owner': {'name': 'John Doe', 'ssn': '123-45-6789'}}, {'account_number': '987654321', 'type': 'Savings', 'balance': 5000.5, 'owner': {'name': 'Jane Smith', 'ssn': '987-65-4321'}}]}}

In [ ]:
type(data)

dict

In [ ]:
data.keys()

dict_keys(['bank'])

In [ ]:
data["bank"]["accounts"]

[{'account_number': '123456789',
  'type': 'Checking',
  'balance': 1500.75,
  'owner': {'name': 'John Doe', 'ssn': '123-45-6789'}},
 {'account_number': '987654321',
  'type': 'Savings',
  'balance': 5000.5,
  'owner': {'name': 'Jane Smith', 'ssn': '987-65-4321'}}]